.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;

  margin-bottom: 50px;
}

.img_body {
  margin-top: 50px;

  width: 35%;
  max-width: 372px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  img {
    width: 105%;

    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
  }

  div {
    display: flex;
    width: 50%;
  }
}

.text_body {
  width: 60%;
}

.title {
  width: fit-content;
  position: relative;
  margin-bottom: 30px;
}

.title::after {
  content: ' ';
  display: block;
  position: absolute;

  height: 85px;
  width: 85px;

  top: -40px;
  right: -100px;

  rotate: 27deg;

  background: url('../../../shared/assets/photo/rock.png') no-repeat;
  background-size: contain;
}

.description_title {
  margin-bottom: 40px;
}

.description_text {
  margin-bottom: 40px;
}

.description_subtext {
  position: relative;

  width: fit-content;

  text-transform: uppercase;
  font-family: 'Capture it', sans-serif;
  letter-spacing: 1px;

  color: #fff;

  padding: 10px 20px;
  border-radius: 20px;

  font-weight: 400;
  background: #009cff;
}

.description_subtext::after {
  content: '';
  width: 43px;
  height: 43px;

  top: -5px;
  rotate: 30deg;


  display: inline-block;
  position: absolute;

  background: url('../../../shared/assets/photo/star.png') no-repeat center center;
  background-size: contain;

}

.border {
  display: flex;
  margin-left: auto;
  margin-bottom: 100px;
}

.green_color {
  color: #3da237;
}

.red_color {
  color: #ec1c24;
}

.blue_color {
  color: #009cff;
}

.rainbow :nth-child(even) {
  color: #009cff;
}
.rainbow :nth-child(odd) {
  color: #ec1c24;
}
