.container {
  width: 60vw;
  margin: 0px auto;
  padding: 0px 10px;
}

.bg {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: #fff;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 30px 30px;
  gap: 10px;
}

.container ul li:first-child {
  list-style: none;
}

.container ul li {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .container ul {
    list-style: none;
     padding: 30px 10px;
  }
}
