.text_body {
  width: 55%;
}

.title {
  position: relative;
  width: fit-content;
  margin-bottom: 30px;
  margin-top: 50px;
}

.title::after {
  content: ' ';
  display: block;
  position: absolute;

  height: 125px;
  width: 150px;

  top: -70px;
  right: -175px;

  background: url('../../../shared/assets/photo/coolSmile.png') no-repeat;
  background-size: contain;
}

.description_title {
  margin-bottom: 20px;
}

.description_text {
  margin-bottom: 40px;
}

.report {
  cursor: pointer;

  display: flex;
  align-items: center;

  margin-top: 20px;
  text-decoration: none;

  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #009cff;

  p {
    margin-right: 13px;
  }
}
