.text_body {
  width: 55%;
}

.title {
  position: relative;
  margin-bottom: 30px;
  width: fit-content;
}

.title::after {
  content: ' ';
  display: block;
  position: absolute;

  height: 105px;
  width: 105px;

  top: -60px;
  right: -150px;

  background: url('../../../shared/assets/photo/not-from-world.png') no-repeat;
  background-size: contain;
}

.description_title {
  margin-bottom: 20px;
}

.description_text {
  margin-bottom: 20px;
}

.description_subtext {
  width: fit-content;
  position: relative;

  color: #fff;
  text-transform: uppercase;
  font-family: 'Capture it', sans-serif;
  letter-spacing: 1px;
}

.finish {
  height: 55px;
  width: 45px;

  display: inline-block;


  left: 20px;
  top: -20px;
  transform: scale(2);

  position: relative;

}

.desc_container {
  width: fit-content;
  background: #009cff;
  border-radius: 20px;
  padding: 15px 25px;

  display: flex;
}
