.container {
  display: flex;
  flex-direction: column;

  position: relative;

  padding-top: 80px;

  p {
    font-family: Roboto, sans-serif;
    margin-bottom: 20px;
    font-weight: 700;
  }

  a {
    width: 100%;
    height: 48px;

    margin-bottom: 10px;
  }
}

.container::after {
  content: '';

  width: 136px;
  height: 153px;

  position: absolute;

  background: url('../../../assets/photo/game.png') no-repeat center center;
  background-size: contain;

  right: -10px;
  top: -10px;
}

.ozon {
  padding: 15px 18px;
  border-radius: 13px;
  content: url('../../../assets//icons//ozon.svg');
  background: #0069ff;
  background-size: contain;
}

.wb {
  padding: 15px 18px;
  border-radius: 13px;
  content: url('../../../assets//icons//wb.svg');
  background: linear-gradient(90deg, #bf1f81 0%, #4d327c 100%);
  background-size: 100%;
  margin-right: 15px;
}

.not_rf {
  width: 100%;
  font-size: 17px;
  line-height: 18px;

  margin-top: 10px;

  display: flex;
  justify-content: center;
}
