.body {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 50px;
}

.img_body {
  width: 40%;
  max-width: 372px;
  max-height: 396px;

  img {
    width: 100%;
    height: 100%;

    height: auto;
    object-fit: cover;
  }
}

.text_body {
  width: 55%;
}

.title {
  margin-bottom: 30px;
}

.description_title {
  margin-bottom: 20px;
}

.description_text {
  margin-bottom: 20px;
}

.description_subtext {
  
}
