.container {
  width: 100%;
  display: flex;
}

.image {
  height: fit-content;
  width: 55%;

  position: relative;
  left: -50px;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-top: 15%;
  width: 50%;

  position: relative;
  // left: -50px;
}

.cards {
  width: 80%;
  margin-bottom: 150px;
  transform: scale(1.2);
}


.wherebuy {
  z-index: 3;
  display: flex;
  justify-content: flex-end;

  margin-bottom: 150px;

  position: relative;
  top: 0px
}