* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.title {
  font-family: 'Capture it', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #081630;

  text-align: center;
}

.description_title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  text-align: left;
  vertical-align: super;

  color: #081630;
}

.description_text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #081630;
}

.description_subtext {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 18px;

  color: #081630;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.blue_link {
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;

  color: #009cff;
}

@media (min-width: 600px) {
  .title {
    text-align: start;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
  }

  .description_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }

  .description_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }

  .description_subtext {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;

    color: #081630;
  }
}

.swiper-pc {
  width: 100%;
}

.swiper-pc .swiper-slide {
  text-align: center;
  font-size: 18px;
  width: fit-content;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-mobile {
  width: 100%;
}

.swiper-mobile .swiper-slide {
  text-align: center;
  font-size: 18px;
  width: fit-content;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}