.text_body {
  width: 55%;
}

.title {
  width: fit-content;
  position: relative;
}

.title::after {
  content: ' ';
  display: block;
  position: absolute;

  height: 71px;
  width: 61px;

  top: -50px;
  right: -80px;

  background: url('../../../shared/assets/photo/operator.png') no-repeat;
  background-size: contain;
}

.description_title {
  margin-bottom: 20px;
}

.description_text {
  margin-bottom: 20px;
}

.money {
  position: relative;
}

.money::after {
  content: ' ';
  display: inline-block;
  position: absolute;

  height: 38px;
  width: 26px;

  transform: translate(3px, -5px);

  background: url('../../../shared/assets/photo/money.png') no-repeat center center;
  background-size: contain;
  background-repeat: no-repeat;
}
